<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Six revisions
        link(rel="stylesheet", href="css/estilos.css")
        link(href="https://file.myfontastic.com/L7PiNDx5zk3bEJY5WMdLNB/icons.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
        script(src="js/scripts.js")
    body
        header#header
            include blocks/header
        section#main
            include blocks/main
        footer#footer 
            include blocks/footer
