.container.content
    .item
        .banner
            .banner__text
                img(src="img/title_banner.png").banner__title
                ul.banner__list
                    li
                        a(href="#") Schedule of events
                    li
                        a(href="#") Exclusive backstage photos
                    li
                        a(href="#") Tour information
                    li
                        a(href="#") Upclose interviews with the band
            img(src="img/image_banner.png").banner__img
    .item.tablet-1-3
        .videos
            h3.videos__title.title Latest videos
            .videos__img
                .icon-triangle-right
            ul.videos__list
                li
                    a(href="#") Another video to wash here
                li
                    a(href="#") And yet another video here
    .item.tablet-1-3
        .blog
            h3.blog__title.title Six revisions blog
            .blog__description 
                p <a href="#">Lorem ipsum dolor sit amet consectetur</a> adipiscing Nunc eu mi risus, nec luctus justo. Proin consequat mi lacus, eget commodo mi. Donec ultricies...
                p <a href="#">Bibendum est eu gravida cras dui sem Venenatis</a> a egestas id, consectetur faucibus nibh Fusce id felis ato lorem lacinia paretra...
                p <a href="#">Aliquam arcu risi, sagitis at fugiat quis</a> Accumsam ut metus, Maurius rhoncus odio fringila diam vestibulum vitae vehicula mi rutrum...
    .item.tablet-1-3
        .connect
            h3.connect__title.title Connect with us
            .connect__items
                .group
                    a(href="#").icon-facebook.item
                    a(href="#").icon-users.item
                .group
                    a(href="#").icon-twitter.item
                    a(href="#").icon-linkedin.item
                .group
                    a(href="#").icon-flickr.item
                    a(href="#").icon-rss.item
            
